html,
body {
  height: 100%;
  background-image: url("../images/img/bg-apple.jpg");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222d32;
  /* background: transparent; */
}

.login-form {
  width: 380px;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  /* background: transparent; */
  background: rgba(0, 0, 0, 0.5);
}

.btn-login-form {
  /* background-color: aqua; */
  border: 1px solid #d8db64;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}

input:focus {
  border: 1px solid white !important;
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

.card-title {
  padding-top: 20px;
}

.btn-primary {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  align-items: center;
  color: #fff;
  border: 1px solid #d8db64;
  transform: translateY(10px);
}

 .btn-primary:hover {
  background-color:#d8db64 !important;
}

/* .submit:hover {
   background-color: blue; 
} */

/* .submit{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
} */
/* .button {
  background-color: #4CAF50; /* Green */
  /* border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; */



