html,
body {
  max-height: 100vh;
  overflow: hidden;
  background-image: url("../images/img/bg-apple.jpg");
  background-size: cover;
}

.global-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222d32;
  /* background: transparent; */
}

.login-form {
  width: 380px;
  height: 700px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  /* background: transparent; */
  background: rgba(0, 0, 0, 0.5);
}

.btn-register-form {
  /* background-color: aqua; */
  border: 1px solid #d8db64;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}

input:not([type="radio"]):focus {
  border: 1px solid white !important;
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}

input[type="radio"]:checked:focus {
  background: #d8db64 !important;
}

input[type="radio"]:checked:not(:focus) {
  background: #d8db64 !important;
}

.card-title {
  padding-top: 20px;
}

.btn {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  align-items: center;
  color: #fff;
  border: 1px solid #d8db64;
  transform: translateY(10px);
}

 .btn:hover {
  background-color:#d8db64;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8db64;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b0b250; 
}