/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&family=Quicksand:wght@400;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --color-primary: #d8db64;
  --color-secondary: #22334d;
  --color-gray: rgba(27, 40, 58, 0.6);
  --color-white: #fff;
  --color-bg: #f8f8fb;
  --heading-1-size: 64px;
  --heading-2-size: 54px;
  --heading-3-size: 40px;
  --heading-4-size: 26px;
  --heading-5-size: 20px;
  --heading-6-size: 18px;
}

/* h1{
  color: var(--color-primary);
  font-size: var(--heading-1-size);
} */

* {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  box-sizing: border-box;
  text-decoration: none;
}
/* 
.fas {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  font-size: 25px;
  background-color: #198754;
  color: white;
  padding: 7px 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
} */

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a .logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: var(--color-primary);
  text-decoration: none;
}

a .logo:hover {
  font-weight: bold;
  color: var(--color-white);
}
a:hover {
  color: var(--color-primary);
}
.btn-primary {
  color: var(--color-secondary) !important;
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  height: 40px !important;
}

.btn-primary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
header {
  background-image: url("../images/img/bg-apple.jpg");
  min-height: 100vh;
  object-fit: cover;
  object-position: center;
  background-size: cover;
}

header .content {
  margin-top: 70px;
}

header .content .header-title {
  font-size: var(--heading-2-size);
  margin-top: 70px;
}

header .content .header-description {
  font-size: var(--heading-6-size);
}

section {
  margin: 100px 0;
}

section .section-title {
  font-size: 40px;
  font-weight: 700;
}

section .section-description {
  font-size: var(--heading-6-size);
  color: var(--color-gray);
  margin: 0;
}
.laris {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 5px;
  font-weight: bold;
}

section .image {
  border-radius: 15%;
}

.why-choose,
.popular-destionation,
.take-break,
.our-travel-packages,
.testimonial,
.subscirber,
.footerCuy,
.detail_produk,
.detail {
  background-color: var(--color-bg);
}

.footerCuy {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

/* .why-choose .card .icons {
  background-color: var(--color-bg);
  width: 50px;
} */

a .logo {
  width: 110px;
}
.text-manfaat {
  text-justify: auto;
}
.boxs {
  box-shadow: 5px 4px 8px 5px rgba(1, 1, 1, 0.2);
  border-radius: 15px 15px;
  transition: 1s;
}

.boxs:hover {
  cursor: pointer;
  /* background-color: var(--color-gray); */
  /* transition: 0.7s; */
}
.boxss {
  box-shadow: 5px 2px 5px 2px rgba(1, 1, 1, 0.2);
  border-radius: 15px 15px;
  transition: 1s;
}

.popular-destionation .card {
  margin: 15px 0px !important;
  /* height: 600px; */
}
.popular-destionation .card .bx {
  color: var(--color-primary);
}

.popular-destionation .card .images {
  height: 300px;
  object-fit: cover;
}

.take-break .section-title {
  font-size: var(--heading-3-size);
}

.our-travel-packages .card .image {
  margin: 0 auto;
}

.our-travel-packages .card {
  background-color: var(--color-bg);
}

.travel-Packages .card {
  background-color: var(--color-bg);
}

.travel-Packages .card .card-image {
  height: 300px;
  object-fit: cover;
}

.travel-Packages .card .price {
  font-size: var(--heading-5-size);
}

.travel-Packages .card .price .section-description {
  font-size: 16px;
}

.travel-Packages .card .flag {
  top: -30px;
  left: 45%;
}

.testimonial .card .foto {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.testimonial .container i {
  color: var(--color-primary);
  font-size: var(--heading-3-size);
  position: absolute;
  top: -20px;
}

/* .subscirber .container .row .col-md-6 button {
  position: absolute;
  left: 30%;
} */
.subscirber .container .row .col-md-6 .icon-fire {
  top: 90px;
  left: 95%;
}

.footer-index {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

/* ========================= home_page ================== */

.section-title_home {
  font-size: var(--heading-4-size);
}

.tombol-tambah {
  background-color: white;
  border-color: var(--color-primary);
}
.tombol-tambah:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-light {
  min-height: 40px;
}

.form-control:focus {
  box-shadow: none;
}
.form-control {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.5) !important;
}

.footer_home {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

/* ==================== Detail Page ===================== */
.harga {
  margin-left: 50px;
}

.detail {
  margin-top: 50px;
}

.detail_produk {
  margin-top: -70px;
}
.footer-detail {
  margin-top: -60px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.input-kirim {
  margin-top: 40px;
}
.input-berat {
  margin-top: 35px;
}
.input-jumlah {
  margin-top: 35px;
}

.btn-outline-light:hover {
  background-color: var(--color-primary) !important;
}
.btn-outline-dark:hover {
  background-color: var(--color-primary) !important;
}

/* ============== cart_page============ */
.content-cart {
  margin-top: 2rem;
}

.cart-title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.card-checkout .card {
  width: 250px;
}

.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
